body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: #252525;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.mar-top {
  margin-top: 100px;
}

/* ****************** NAV ********************* */
 .nav  {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #FFF;
  background-color: #111;

}

 .nav li {
  float: left;
  height: 30px;
}
.form {
  height: 30px;
} 

.aLink {
  height: 100%;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li .aLink:hover:not(.active) {
  background-color: #111;
}

.btn {
  margin-top: 5px;
  margin-left: 2%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  
  /* width: 250px; */
  position: fixed;
}

.active {
  background-color: #BADA55;
} 
.nav-f-left {
  float: left;
  width: 50%;
}
.nav-form-left {
  float: left;
  width: 30%;
}
.nav-form-left-r {
  float: right;
  width: 30%;
}
.nav-f-left-r {
  float: left;
  width: 50%;
  margin-right: 2%;
  text-align: right;
}
.nav-avatar {
  height: 50px;
  border-radius: 50%;
  /* margin: 3%; */
}
/* ******************* END NAV ************** */
ul {
  list-style: none;
}

.avatar {
  height: 150px;
  border-radius: 50%;
  margin: 3%;
}

.user-data {
  width: 50%;
  border: 1px solid #dad7d7;
  padding: 10px;
  display: flex;
  margin: 2% auto;
  border-radius: 3px;
  cursor: pointer;
}

.user-data>div {
  width: 100%;
  margin: 0 auto;
}

.user-data>div>div {
  height: 90%;
  padding: 0 10px;
  border-right: 1px solid #dad7d7;

}

.user-data>div>div:nth-child(1) {
  float: left;
  width: 25%;
  padding-top: 20px;
}

.cont-div {
  width: 100%;
}

.f-left {
  float: left;
  width: 50%;
}
.f-left-r {
  float: left;
  width: 50%;
  text-align: center;
}
.user-data>div>div:nth-child(2) {
  float: left;
  width: 50%;
}

.user-data>div>div:nth-child(2) p span{
  text-align: right;
  padding-left: 50%;
  background-color: #BADA55;
}

.user-data>div>div:nth-child(3) {
  float: left;
  width: 15%;
  text-align: center;
  border: none;

}
.user-data>div>div:nth-child(3) p {
  font-size: 50px;
  color: #FFF;
  border-radius: 5px 20px 5px;
  background: #BADA55;

}

.user-data>div>br {
  clear: left;
}

/* ************************** New Question *************************** */

.new-question {
  width: 40%;
  padding: 20px;
  background-color: #FFF;
  margin: 100px auto;
  border: 1px solid #111;
}

.new-question > h1  {
  text-align: center;
  border-bottom: 1px solid #111;
  padding: 10px;
}
.new-question > form > h3,p:nth-child(1) {
  text-align: left;
}

.new-question > form {
  text-align: center;
  margin: 10%;
}
.new-question > form > p:nth-child(4) {
  font-weight: bold;
}

.new-question > form >  input {
  padding: 10px;
  width: 100%;
  border: 1px solid #BADA55;
  border-radius: 5px;

}

.new-question > form >  input:last-child {
  padding: 10px;
  width: 105%;
  background-color: #BADA55;
  text-shadow: none;
}
/* *************************** Home ************************************ */

.Home {
  width: 50%;
  /* padding: 20px; */
  background-color: #FFF;
  margin: 100px auto;
  border: 1px solid #dad7d7;
  border-top: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.Home-div {
  text-align: center;
  width: 100%;
  /* border-radius: 10%; */

}



.Home-btn{
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  border: 1px solid #dad7d7;
  background-color: #BADA55;
  color: #111;
  /* cursor: pointer; */
  font-size: 16px; 
}
.Home-btn:hover {
  background-color: #FFF;
  /* border-radius: 10%; */

}


/* **************** Question DB ********************** */



.Question-DB {
  width: 90%;
  border: 1px solid #dad7d7;
  display: flex;
  margin: 10px auto;
  border-radius: 3px;
  cursor: pointer;
  padding: 20px;
}

.Home-container {
  width: 100%;
  height: 100%;
}


.Home-left {
  text-align: center;
  float: left;
  width: 49.9%;
}

.Home-left:first-child {
  border-right: 0.1px solid #111;
}

 .Home-avatar {
  height: 129px;  
  border-radius: 50%;
}

.Question-btn{
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  border: 1px solid #dad7d7;
  background-color: #BADA55;
  color: #111;
  cursor: pointer;
  font-size: 16px; 
}


/* ******************* Question Form and answer  ************************ */

.Question-container {
  width: 60%;
  height: 460px;
  border: 1px solid #111;
  margin: 70px auto;
  padding: 0px 30px 30px 30px;
}

.h1-style {
  border-bottom: 1px solid #111;
  padding: 10px;
  width: 100%;
}

.div-container {
  width: 100%;
  display: flex;
}

.div-left {
  float: left;
  width: 49.9%;
}

.Question-avatar {
  height: 75%;  
  border-radius: 50%;
}

.Question-box {
  position: relative;
  border: 1px solid #111;
  margin: 10px;
  width: 100%;
}
/* display over the current div */
.div-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ****************** Login ***************** */

.Login {
  width: 50%;
  border: 1px solid #111;
  border-radius: 20px;
  margin: 90px auto;
  padding: 20px;
}


.login-input {

  padding: 10px;
  margin: 15px auto;
  width: 50%;
  border: 1px solid #BADA55;
  border-radius: 5px;
  display: block;
}